* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: 'DM Sans', sans-serif;
}


/*---- GERAL -----*/
body {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 1265px;

  background-color: #ffffff;
}

#bodySection {
  max-width: 1300px;
  background-color: rgba(248, 243, 234, 0.89);
}

.grid-container{  
  display: grid;
  grid-template-columns: auto auto auto ;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;

  margin: 1rem;

  border-radius: 30px 0px 30px 0px;
  box-shadow: 4px 1px 4px 2px #00000059;
}

div#logo{
  grid-column-start: 1;
  grid-column-end: 3;
}

nav#go-enter {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

.image-assets {
  padding-bottom: 1rem;
}

h5{
  overflow: hidden;
}


/*---- Caixa de texto Header -----*/
.input-group {
  padding-left: 8rem;
  width: 75%;
  padding-top: 2.5rem; 
}

/*---- Botão Caixa de texto Header -----*/
.input-group-append{
  display: block;
}

.btn-outline-secondary{
  border-color: transparent;
}

/*---- Alinhamento links Menu Navbar -----*/  
.mt-lg-0, .my-lg-0 {
  margin-block: auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    padding-left: 9rem;
  }
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
}

/*---- Alinhamento e style link Sing in Navbar -----*/  
#go-enter{
  max-width: 656px;
}

#go-enter > a {
  color: rgb(189, 28, 28);
  font-weight: 500;
  font-style: italic;
  background-color: #ffffff33 ;
  border-radius: 20px;
  text-decoration: none; 
  padding: .70rem;
}

#go-enter > a:hover {
  color: rgba(0, 0, 0, 0.733);
}

.navbar-light .navbar-nav .nav-link{
  color: rgb(189, 28, 28);
  font-weight: 500;
  font-style: italic;
  background-color: #ffffff33 ;
  border-radius: 20px;
  margin: .51rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show >.nav-link {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  font-style: italic;
}


/*---- H2-----*/ 
.topicos{
  text-align: center;
  background-image: linear-gradient(to bottom, transparent, rgba(201, 186, 52, 0.397) 70%, rgba(46, 103, 150, 0.342) 20%, transparent);
  padding-top: 1em;
  padding-bottom: 1rem;

  height: 8rem;

  font-family: 'DM Sans', sans-serif;
  color: #412b2b;
  text-shadow: 5px 5px 5px #ffffff;

}


/*---- Menu e cards-----*/ 
#menu {
  margin: 1rem;
}

#container {
display: block;
margin-right: auto;
margin-left: auto;
margin-bottom: 1rem;
margin-top: 1rem;
max-width: 50rem;

box-shadow: 1px 2px 7px 3px rgb(0 0 0 / 51%);
}

/*---- Cards-----*/ 
.card {
  display: inline-block;
  margin-left: 5.5rem;
  margin-top: 3rem;
  
  background-color: #ffffff7e;

  box-shadow: 3px 2px 10px 0px #0000007d;
  
}


.dropdown {
  position: relative;
  display: block;
  
}

.dropdown-content {
  display: none;
  position: relative;

  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;

}

.desc {
  padding: 15px;
  text-align: center;
}

a{
  text-align: center;
  color: #0a024b;
  padding: .3rem;
}

a:hover{
  text-decoration: none;
  color:rgba(53, 91, 117, 0.342);
}

form {
  width: 500px;


  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #0a024b;

  padding: 1rem;
  color: #f9f9f9;

  margin-bottom: 1rem ;
  box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.2);
  border-radius: 10px 0;

}


/*---- Resposividade -----*/ 
@media (max-width: 810px) {
  .card {
    display: inline-block;

    margin-top: 3rem;
    
    background-color: #ffffff7e;
  
    box-shadow: 3px 2px 10px 0px #0000007d;
} #formGroupExampleInput {
  width: 95%;
 } form {
  width: 400px;
 } .navbar-light .navbar-nav .nav-link{
  width: 50%;
  text-align: center;
 } .input-group {
  display: none;
 } .grid-container{
    padding-bottom: 3rem;
    
 }
}


/*---- Footer -----*/ 
#footer{
  background-image: linear-gradient(to bottom, #134850, transparent, rgba(218, 190, 67, 0.603));
  height: 15rem;
  
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden; 
}

ul{
  margin-top: 30px;
  margin-bottom: 0;
}

li.padrao{
  padding-top: .7rem;
}


@media (max-width: 460px) {
  #Logo{
      display: none;

  }.grid-container{
    background-image: none;
    background-image: linear-gradient(to bottom, #134850, transparent, rgba(218, 190, 67, 0.603));

  }.topicos{
    font-size: larger;

  } .card {
    display: inline-block;
    margin-left: 1.5rem;

  } form{
    width: 350px;

  }li.padrao{
    font-size: 12px;
    }
   

}